/*
Text Color (Dark Gray): #2b2b2b;
Primary Color: #05676e;
Secondary Color: #e0b354;
*/

:root {
  --primary-color: #004c4c;
  --secondary-color: #006666;
  --tertiary-color: #008080;
  --text-color: #2b2b2b;
  --border-color: rgba(0, 0, 0, 0.3);
  --standard-font: "Merriweather", sans-serif;
  --heading-font: "Lato", sans-serif;
  --standard-line-height: 1.6;
  --primary-font-size: 16px;
  --secondary-font-size: 18px;
  --standard-font-weight: 400;
  --bold-font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--standard-font);
  font-weight: var(--standard-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--standard-line-height);
  color: var(--text-color);
}

header {
  font-size: var(--secondary-font-size);
  line-height: var(--standard-line-height);
  /*border-bottom: 2px solid var(--border-color);*/
}

footer {
  font-size: var(--secondary-font-size);
  line-height: var(--standard-line-height);
}

h1 {
  font-family: var(--heading-font);
  font-weight: var(--bold-font-weight);
  font-size: 30px;
}

h2 {
  font-family: var(--heading-font);
  font-weight: var(--bold-font-weight);
  font-size: 24px;
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus,
.footer-icon {
  text-decoration: none;
}

a:active {
  color: var(--tertiary-color);
}

section {
  margin-bottom: 80px;
  text-align: center;
}

/*.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--border-color);
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}*/

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 70px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:first-child {
  max-height: 70px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.work-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*.personal-info,*/
.contact-data {
  max-width: 700px;
  margin: 60px auto;
  text-align: center;
}

.social-media-handles {
  text-align: center;
  margin-top: 30px;
}

.social-media-handles h4 {
  margin-bottom: 5px;
}

.welcome-text {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}

.profile {
  display: flex;
  text-align: center;
  max-width: 90%;
  margin: 80px auto;
  margin-top: 60px;
  margin-bottom: 80px;
}

/*.contact-section {
  margin-bottom: 80px;
}*/

.profile__text {
  max-width: 700px;
  text-align: left;
  margin-left: 30px;
}

.profile__portrait {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 40px;
}

.screenshot-meet, .screenshot-pokemon-page, .screenshot-movies-react, .screenshot-movies-angular {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.screenshot-chat-screen {
  width: 70%;
  height: 380px;
  object-fit: contain;
}*/

.screenshots-chat-app {
  width: 90%;
  margin: 0 auto;
}

.screenshot-chat-screen, .screenshot-start-screen {
  width: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
  }

.tech-list {
  margin-bottom: 30px;
}

.tech-item {
  text-align: center;
  line-height: 2px;
  padding: 5px;
}

/*.skill-table {
  margin: 0 auto;
}*/

/*#contact-form {
  margin: 0 auto;
  text-align: center;
}

#contact-email,
#contact-telephone,
#contact-message {
  max-width: 300px;
  padding: 7px;
  margin: 15px;
}*/

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 90%;
    margin: 0 auto;
  }

  .grid__item {
    background-color:#D3D3D3;
    padding: 15px;
    width: auto;
    min-height: auto;
  }

  /*  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  } */
}

#kanban-link {
  margin-top: 50px;
}

/*@keyframes color-change {
  0% {
    fill: var(--primary-animation-color);
  }

  50% {
    fill: var(--secondary-animation-color);
  }

  100% {
    fill: var(--tertiary-animation-color);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 35s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}*/

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .profile {
    display: block;
  }

  .profile__text {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .profile__portrait {
    /*float: none;*/
    margin: 0 auto;
}
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 30px;
  }

  /*.grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }*/

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }
}
